<%- include('./partial/header/header-homepage.ejs') -%>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3>Order</h3>
          </div>
          <div class="card-body">
            <h3>Price Destination: </h3>
            <h3>Price Guide: </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('./partial/footer/footer.ejs') -%>