<%- include('./partial/header/header-index.ejs') -%>
  <div class="jumbotron jumbotron-fluid" style="background-image: url('https://images.unsplash.com/photo-1527253959891-c6a0df70a77e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=40f3c40e3e453705de6797bb10527511&auto=format&fit=crop&w=1050&q=80'); width: 100%">
    <div class="container">
      <br>
      <br>
      <center>
        <img src="https://www.kontrakhukum.com/images/partner-logo/Hacktiv8.png" width="20%" alt="">
        <h1 class="display-4 text-white">Welcome to Destination Guide</h1>
      </center>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <img src="https://images.unsplash.com/photo-1503970999490-4404449dc349?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7e027cf07fe6c63cf98abc0e09ee95bd&auto=format&fit=crop&w=969&q=80"
              class="card-img-top" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <img src="https://images.unsplash.com/photo-1527253959891-c6a0df70a77e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=40f3c40e3e453705de6797bb10527511&auto=format&fit=crop&w=1050&q=80"
              class="card-img-top" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32a9c4941b484a53036a8c9492638dfb&auto=format&fit=crop&w=1053&q=80"
              class="card-img-top" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <img src="https://images.unsplash.com/photo-1518764328538-f225781519dc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=605bfcd75f48f6e00cb885f1124c62c8&auto=format&fit=crop&w=1092&q=80"
              class="card-img-top" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <img src="https://images.unsplash.com/photo-1507840771025-26e8ececa04c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=faabefc156bcfabbdf114df8fee547ad&auto=format&fit=crop&w=1050&q=80"
              class="card-img-top" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <img src="https://images.unsplash.com/photo-1501497753478-0c646ed709da?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=96c0131687a3f16ba9dab57452df9cc1&auto=format&fit=crop&w=1050&q=80"
              class="card-img-top" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <%- include('./partial/footer/footer.ejs') -%>